@model IEnumerable<VidlyCore.Models.Movie>
@{
    ViewData["Title"] = "Movies";
}
<h2>Movies</h2>

<a asp-area="" class="btn btn-primary" asp-controller="Movies" asp-action="New">New Movie</a>

<table class="table table-bordered table-hover">
    <caption>Movie</caption>
    <thead>
    <tr>
        <th>Movie</th>
        <th>Genre</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var movie in Model)
    {
        <tr>
            <td>@Html.ActionLink(movie.Name, "Edit", "Movies", new { id = movie.Id }, null)</td>
            <td>@movie.Genre.Name</td>
        </tr>
    }
    </tbody>
</table>