@model IEnumerable<VidlyCore.Models.Customer>
@{
    ViewData["Title"] = "Customers";
}
<h1>Customers</h1>

<a asp-area="" class="btn btn-primary" asp-controller="Customers" asp-action="New">New Customer</a>


@if (!Model.Any())
{
    <p>There are no customers.</p>
}
else
{
    <table class="table table-bordered table-striped table-hover">
        <caption>Customer</caption>
        <thead>
        <tr>
            <th>Name</th>
            <th>Membership Type</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var customer in Model)
        {
            <tr>
                <td>@Html.ActionLink(customer.Name, "Edit", "Customers", new {id = customer.Id}, null)</td>
                <td>@customer.MembershipType.Name</td>
            </tr>
        }

        </tbody>
    </table>
}